loki:
  auth_enabled: false # <--- ВОТ ОНО! Отключаем требование X-Scope-OrgID
  
  commonConfig:
    replication_factor: 1

  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: filesystem # Для Minikube проще писать на диск, чем поднимать MinIO (сэкономим память)
        schema: v13
        index:
          prefix: index_
          period: 24h

  storage:
    type: filesystem

  # Настройки лимитов и компактора для режима "всё в одном"
  compactor:
    working_directory: /var/loki/compactor
#    shared_store: filesystem
  
deploymentMode: SingleBinary

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 5Gi # Выделим 5 гигов под логи

# Отключаем встроенный мониторинг самого локи (пока лишнее)
monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false

# Отключаем установку Графаны (она у нас уже есть от Прометея!)
grafana:
  enabled: false

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0