# templates/secret.yaml
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-secret
  namespace: gbook-ns
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-parameter-store
    kind: SecretStore
  target:
    name: postgres-secret
    creationPolicy: Owner
  data:
    - secretKey: POSTGRES_PASSWORD
      remoteRef:
        key: /guestbook/postgres/password

---
# templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: {{ .Release.Namespace }}
  labels:
  app: guestbook
data:
  # Значения, которые нужны твоему Python APP
  DATABASE_HOST: "service-postgres" # Имя сервиса!
  DATABASE_PORT: "5432"
  DATABASE_USER: "postgres"         # Логин
  DATABASE_NAME: "guestbook"        # Имя БД

---
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: aws-parameter-store
  namespace: gbook-ns
spec:
  provider:
    aws:
      service: ParameterStore
      region: eu-central-1
      auth:
        secretRef:
          accessKeyIDSecretRef:
            name: aws-credentials
            key: access-key-id
          secretAccessKeySecretRef:
            name: aws-credentials
            key: secret-access-key
